.hidden{
    display: none;
}
.red{
    color: #b00000;
}
.dndList{
    height: 90%;
}
.dndSorter li{
    position: relative;
    max-width: 10em;
    cursor: move;
}
.selectAndOrder .multiSelectContainer li{
    cursor: pointer;
}
.selectAndOrder .multiSelectContainer li label{
    min-width: 8em;
    display: inline-block;
}
.removeLink{
    position: absolute;
    color: darkgrey;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    cursor: pointer;
}
.removeLink:hover{
    color: red;
}
.selectAndOrder ul{
    text-align: left;
    padding: 0;
}
.selectAndOrder li{
    list-style: none;
}
.selectAndOrder li:hover{
    list-style: none;
    background-color: aliceblue;
}
.selectAndOrder{
    text-align: center;
}
.selectAndOrder > *{
    width: 25em;
    display: inline-block;
    vertical-align: top;
    border: silver 1px solid;
    height: 25em;
    border-radius: 1em;
    padding: 1.5em 1em;
    margin: 2em;
    text-align: left;
    position: relative;
    background-color: #4195c6;
    box-shadow: 2px 2px 1px #888888;
}
.selectAndOrder .multiSelectContainer{
    height: 100%;
}
.selectAndOrder .multiSelectContainer .multiSelect{
    height: 85%;
    overflow: auto;
}
.selectAndOrder .filterBox{
    position: absolute;
    top: 1em;
    padding-bottom: 0.3em;
    border-bottom: whitesmoke 1px dotted;
    width: 90%;
}
.selectAndOrder .filterBox input{
    border: 1px solid silver;
    border-radius: 4px;
    padding: 0.3em 0.5em;
}
.selectAndOrder .filterBox .label{
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: white;
}
.selectAndOrder .dndList{
    margin-top: 3em;
    overflow: auto;
    background-color: white;
}
.selectAndOrder .dndList .dndListItem{
    padding: 0.1em 0.5em;
    cursor: move;
    position: relative;
}
.selectAndOrder .dndList .dndListItem:hover{
    background-color: aliceblue;
}
.selectAndOrder .dndList .dndListItem:nth-child(2n){
    background-color: #fbfbfb;
}

.dndList .dndListItem .liAction{
    position: absolute;
    right: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    color: grey;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
}
.targetList .dndListItem .liAction{
    font-size: 1em;
}
.sourceList .dndListItem .liAction::after{
    content: "+";
}
.sourceList .dndListItem .liAction:hover{
    color: #49df25;
}
.targetList .dndListItem .liAction::after{
    content: "x";
}
.targetList .dndListItem .liAction:hover{
    color: red;
}