.hidden{
    display: none;
}
.red{
    color: #b00000;
}
.dndList{
    height: 85%;
}
/*.targetList{*/
    /*height: 95%;*/
/*}*/
.dndSorter li{
    position: relative;
    max-width: 10em;
    cursor: move;
}
.selectAndOrder .multiSelectContainer li{
    cursor: pointer;
}
.selectAndOrder .multiSelectContainer li label{
    min-width: 8em;
    display: inline-block;
}
.removeLink{
    position: absolute;
    color: darkgrey;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    cursor: pointer;
}
.removeLink:hover{
    color: red;
}
.selectAndOrder ul{
    text-align: left;
    padding: 0;
}
.selectAndOrder li{
    list-style: none;
}
.selectAndOrder li:hover{
    list-style: none;
    background-color: aliceblue;
}
.selectAndOrder{
    text-align: center;
}
.selectAndOrder > *{
    width: 25em;
    display: inline-block;
    vertical-align: top;
    border: silver 1px solid;
    height: 37em;
    border-radius: 1em;
    padding: 1.5em 1em;
    margin: 2em;
    text-align: left;
    position: relative;
    background-color: #4195c6;
    box-shadow: 2px 2px 1px #888888;
}
.selectAndOrder .multiSelectContainer{
    height: 100%;
}
.selectAndOrder .multiSelectContainer .multiSelect{
    height: 80%;
    overflow: auto;
}
.selectAndOrder .filterBox{
    position: absolute;
    top: 4em;
    padding-bottom: 0.3em;
    width: 90%;
}
.selectAndOrder .filterBox input{
    border: 1px solid silver;
    border-radius: 4px;
    padding: 0.3em 0.5em;
}
.selectAndOrder .filterBox .label{
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: white;
}
.selectAndOrder .dndList{
    margin-top: 6em;
    overflow: auto;
    background-color: white;
    border-top: whitesmoke 1px dotted;
}
/*.selectAndOrder .dndList.targetList{*/
    /*margin-top: 2.5em;*/
/*}*/
.selectAndOrder .dndList .dndListItem{
    padding: 0.1em 0.5em;
    cursor: move;
    position: relative;
}
.selectAndOrder .dndList .dndListItem:hover{
    background-color: aliceblue;
}
.selectAndOrder .dndList .dndListItem:nth-child(2n){
    background-color: #fbfbfb;
}

.dndList .dndListItem .liAction{
    position: absolute;
    right: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    color: grey;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
}
.targetList .dndListItem .liAction{
    font-size: 1em;
}
.sourceList .dndListItem .liAction::after{
    content: "+";
}
.sourceList .dndListItem .liAction:hover{
    color: #49df25;
}
.targetList .dndListItem .liAction::after{
    content: "x";
}
.targetList .dndListItem .liAction:hover{
    color: red;
}
.selectAndOrder h2{
    position: absolute;
    top: 0;
    color: whitesmoke;
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: lighter;
}
.selectAndOrder .clearButton{
    position: absolute;
    left: 1.5em;
    top: 5.5em;
    background-color: #ededed;
    border: 1px solid silver;
    border-radius: 4px;
    padding: 0.5em 1em;
    cursor: pointer;
}
.selectAndOrder .clearButton:hover{
    background-color: rgba(176, 45, 27, 0.88);
    color: white;
    outline: none;
}
.selectAndOrder .filterBox input{
    padding-right: 1.5em;
}
.selectAndOrder .filterBox .filterReset{
    position: absolute;
    left: 10.8em;
    top: 1.45em;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 0.9em;
    background-color: #dadada;
    vertical-align: middle;
    border-radius: 3em;
    width: 1em;
    line-height: 0.95em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}